@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Potzdamer Str5<br />
        14513 Teltow<br />
        <abbr title="Phone">Mobeil : </abbr>
        017658174306
    </address>

    <address>
        <strong>Support:</strong>   <a href="">h.pouyaa86@gmail.com</a><br />
    </address>
</main>